<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  	<!--[if IE 7]>
  	<link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css">
  	<![endif]-->
   
    <script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/html5upload.js"></script>
    
  </head>
  <body>
    <div style="border:1px dashed grey;font-size:2rem;width:100px;height:100px;"  onfocus="javascript:;" id="upload">
      <i class="icon-plus select"></i>
    </div>
    <script type="text/javascript">
      $(function(){
        $('#upload').mutiUpload({url:'/upload'});
      });
    </script>
  </body>
</html>